:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/auth.jpg);
  background-size: cover;
}

input {
  background-color: transparent;
  display: flex;
  border: 1px solid transparent;
  color: white;
  width: 100px;
  letter-spacing: 0.5rem;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 1rem;
  width: 150px;
  border: 1px solid #efefef;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

input::placeholder {
  color: white;
}

.holder {
  display: flex;
  flex-direction: row;

  &.fail {
    transition: all 0.3s;
    opacity: 0;
    transform: scale(5);
  }

  &.success {
    transition: all 2s;
    opacity: 0.1;
    transform: scale(0.3);
  }
}

button {
  border: 1px solid #efefef;
  border-left: 0;
  padding-left: 1rem;
  padding-right: 1rem;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  display: inline-block;
  color: #4d4d4d;
  font-weight: bold;

  height: 40px;

  cursor: pointer;

  &:hover {
    background-color: #d4d4d4;
  }
}
